body {
  font-family: sans-serif;
  margin: 0px 0px 0px 0px;
}

.mainGameButton {
  width: 50%;
  height: 200px;
  float: left;
}

/* .mainGameButton:hover {
  opacity: .8;
} */

#r { background-color: red; }
#b { background-color: blue; }
#g { background-color: green; }
#y { background-color: yellow; }

#startStopButton:hover { opacity: .5; }
#resetButton:hover { opacity: .5; }

button {
  width: 50%;
  float: left;
  height: 50px;
  font-size: 25px;
  margin: 20px 0px 0px 0px;
  border: none;
  background-color: white;
  padding: 0px 0px 0px 0px;
}

.mainGameButton:hover {
  background-color: white;
}

#completedLevels {
  font-size: 20px;
  margin: 20px 0px 0px 0px;
}

#strictMode {
  font-size: 40px;
  margin: 0px 0px 0px 0px;
}

/* Related to the switch that turns on strict mode */
/* Code from here: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: green;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: red;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 100%;
}